%h2= @creation.name

%h3
  di 
  - user = creation.user
  - link_to user.name, "/users/#{user.nick_url}"

.subnav
  - link_to "back", "/users/#{user.nick_url}/creations", class: "btn"
  .right
    - link_to "delete", "/creations/#{creation.name_url}", class: "btn", method: "delete"
  
- image_tag @creation.link

%p.desc
  = creation.description