%h2
  = @creation.name
  %span
    \-
    - user = creation.user
    - link_to user.nick, "/users/#{user.nick_url}"
  

.subnav
  - link_to "indietro", "/users/#{user.nick_url}/creations", class: "btn"
  - if logged_in? && user.creations.include?(creation)
    .right
      - link_to "cancella", "/creations/#{creation.name_url}", class: "btn", method: "delete"
  
- image_tag @creation.link, class: "main_img"

%p.desc
  = creation.description