%h2
  = @creation.name.capitalize
  %span
    \-
    - user = creation.user
    - link_to user.nick, "/users/#{user.nick_url}"
  

.subnav
  -# link_to "indietro", "/users/#{user.nick_url}/creations", class: "btn"
  - if logged_in? && cur_user.creations.include?(creation)
    .right
      - link_to "cancella", "/creations/#{creation.name_url}", class: "btn", method: "delete"
  

%a{ href: @creation.link, class: "main_img" }
  - img = nophoto? @creation
  - image_tag( img, class: "main_img")

.desc.cat
  %p.head Categoria:
  %p= creation.category


- unless creation.description.blank?
  .desc
    %p.head Descrizione:
    .desc_content
      :markdown
        #{creation.description}