%h2 Yes I Am!

- if cur_user == user
  - link_to "Edit profile", "/users/#{user.nick_url}/edit", class: "btn"

#user
  %h3= user.nick
  %p 
    %span Name:
    = user.name
  %p 
    %span Address:
    = user.address
    = user.zip
    = user.city
    = user.country
  %p 
    %span Bio:
    = user.bio